.header {
  margin-bottom: 35px;
  overflow: auto;
  position: relative;
}

.hamburger {
  padding: 10px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 10px 0 rgba(32, 33, 36, 0.35);
  border-radius: 10px;
  position: fixed;
  top: 60px;
  right: 30px;
  display: none;
}

.hamburger img {
  width: 40px;
  height: 40px;
}

.header-container {
  float: left;
  width: 25%;
}
.header-image {
  margin: 60px 0px 30px 30px;
}

.links {
  float: right;
  margin-right: 80px;
  margin-top: 70px;
  border: 1px solid black;
  border-style: dotted;
  padding: 0 55px;
}

.links ul {
  overflow: auto;
}

.link {
  float: left;
  font-size: 25px;
  list-style-type: none;
  padding: 25px 0;
}

.link:not(:last-child) {
  margin-right: 65px;
}

.link-selected {
  border-bottom: 5px solid #59bcff;
}

.link-text {
  text-decoration: none;
  color: #9999a6;
}

@media only screen and (max-width: 1000px) {
  .links {
    margin-top: 0;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .links {
    display: none;
    padding: 0 30px;
    margin: 0;
    position: fixed;
    top: 120px;
    right: 45px;
    background-color: white;
    border: 1px solid black;
    z-index: 999;
  }

  .link {
    float: none;
    padding: 20px 0;
    display: block;
  }

  .link:not(:last-child) {
    margin: 0;
    padding-bottom: 0;
  }

  .hamburger:hover ~ .links,
  .links:hover {
    display: block;
  }
}
